.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("/static/images/me.jpeg");
  background-position: 50% 50%;
  margin-bottom: -100px;
}

.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  transition-duration: 1s;
  font-size: 6rem;
  margin: 95px 111px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  font-family: "Open Sans", sans-serif;
  margin: 27px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 62px;
  min-height: 16px;
  width: 278px;
  min-width: 94px;
  white-space: nowrap;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 59px auto 60px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 121px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5.625rem;
    transition-duration: 0.5s;
    width: auto;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.125rem;
    width: auto;
    margin-top: 44px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 92px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 54px;
    margin-left: 26px;
    margin-right: 26px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 27px;
    margin-left: -5px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5625rem;
    margin-top: 41px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 48px;
    width: 222px;
    margin-top: 41px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffffff !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffffff !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}